<div id="embedded_messenger" ng-class="vm.active? 'active': ''">
    <header id="message_header" ng-click="vm.toggleWindow()" data-translate="chatbot.title"></header>

    <div>
        <div id="message_window" ng-class="vm.connected ? 'connected' : 'disconnected'">
            <div class="disconnected">
                Disconnected... reconnecting!
            </div>
            <div class="offline">
                Offline! Reload to reconnect.
            </div>
            <div class="powered_by">
                <a href="https://www.infotec.mx/" target="_blank"> Infotec</a>
            </div>
            <section>
                <div ng-class="vm.typing ? 'typing-indicator' : ''">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div id="message_list" ng-repeat="msg in vm.messages | orderBy: 'sent_timestamp': true">
                    <div id="message_template">
                        <div class="message" ng-class="msg.type == 'incoming' ? 'message': 'outgoing'">
                            {{ msg.text }}
                        </div>
                    </div>
                </div>
            </section>
            <div id="message_replies">
            </div>
            <footer>
                <form ng-submit="vm.send()">
                    <input type="text" ng-model="vm.messageOutgoing.text" autocomplete="off" placeholder="Type here..." />
                    <button type="submit" data-translate="chatbot.send" ng-disabled="!vm.messageOutgoing.text">Send</button>
                </form>
            </footer>
        </div>
    </div>